@import 'tailwindcss';

@theme {
  --color-brand: #01ff00;
}

@font-face {
  font-family: space;
  src: url('@/assets/SpaceGrotesk-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: space;
  src: url('@/assets/SpaceGrotesk-Medium.woff2');
  font-weight: bold;
}

:root {
  font-family: space, sans-serif;
  font-feature-settings: 'liga', 'ss03', 'ss02';
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
