@import 'tailwindcss';

@theme {
  --color-green: #01ff00;
  --color-blue: #0084ff;
  --color-red: #ff3000;

  --color-brand: var(--color-green);

  --color-axis-x: var(--color-red);
  --color-axis-y: var(--color-blue);
  --color-axis-z: var(--color-green);
}

@utility ui-container {
  @apply bg-white border border-black pointer-events-auto;
}

@utility ui-button {
  @apply flex items-center h-10 px-3 hover:bg-gray-200;
}

@utility tnum {
  font-feature-settings: 'liga', 'ss03', 'ss02', 'tnum';
}

@font-face {
  font-family: space;
  src: url('@/assets/SpaceGrotesk-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: space;
  src: url('@/assets/SpaceGrotesk-Medium.woff2');
  font-weight: bold;
}

:root {
  font-family: space, sans-serif;
  font-feature-settings: 'liga', 'ss03', 'ss02';
  line-height: 1.5;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
