@import './lib/theme.css';

@theme {
  --color-green: var(--color-vantage-green);
  --color-blue: var(--color-vantage-blue);
  --color-red: var(--color-vantage-red);

  --color-brand: var(--color-vantage-brand);

  --color-axis-x: var(--color-vantage-axis-x);
  --color-axis-y: var(--color-vantage-axis-y);
  --color-axis-z: var(--color-vantage-axis-z);
}

.bg-axis-x {
  @apply bg-axis-x;
}
